<?xml version="1.0" encoding="UTF-8"?>
<module name="org.jboss.teiid.api" xmlns="urn:jboss:module:1.3">
    <properties>
        <property name="jboss.api" value="public"/>
    </properties>
    
    <resources>
        <resource-root path="teiid-api-16.0.0.jar"/>
        <resource-root path="teiid-resource-spi-16.0.0.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.resource.api"/>
        <module name="org.jboss.teiid.common-core"/>    
        <module name="org.jboss.teiid.client"/>
    </dependencies>
</module>
