<?xml version="1.0" encoding="UTF-8"?>
<module name="org.jboss.teiid.security" xmlns="urn:jboss:module:1.3">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>
    <resources>
        <resource-root path="teiid-wildfly-security-16.0.0.jar"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.teiid.common-core"/>
        <module name="org.jboss.teiid.api"/>
        <module name="org.apache.cxf"/> <!-- for OAuth -->
        <module name="org.apache.cxf.impl"/> <!-- for OAuth -->
        <module name="org.apache.cxf.impl.frontend-jaxrs"/>  <!-- for OAuth -->
        <module name="org.picketbox"/>
        <module name="org.jboss.as.security"/>
    </dependencies>

</module>
