# Sensitive Files
*.key
*.pem
*password*
*secret*
.env

# Logs
*.log
logs/

# Compiled
*.pyc
__pycache__/
*.class

# Data directories
standalone/data/
standalone/log/
standalone/tmp/
domain/data/
domain/log/
domain/tmp/

# Customer data
customer_folder/
uploads/

# Exclude large files
wildfly/archive.zip
wildfly/teiid-wildfly-16.0.0-dist.zip
wildfly/*.zip